# Data (too large for Git)
data/raw/
data/postings


# Model artifacts
.npy
.index
.pkl
.bin

# Environment
venv/
.env
__pycache__/
.pyc

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# generated embeddings
data/*.npy
data/*.index